/*
developed by Erlaanga Indra Permana <erlangga.ip@gmail.com>
*/

* {
	box-sizing: border-box;
	transition: 0.3s;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: arial;
}

@keyframes slidetop {
	from {
		top: -30px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
.sliding-top {
	position: relative;
	animation: slidetop 0.5s;
}

@keyframes slidebottom {
	from {bottom: -300px;
	opacity: 0
}

to {
	bottom: 0;
	opacity: 1
}

}
.sliding-bottom {
	position: relative;
	animation: slidebottom 0.5s;
}

@keyframes slideleft {
	from {left: -30px;
	opacity: 0
}

to {
	left: 0;
	opacity: 1
}

}
.sliding-left {
	position: relative;
	animation: slideleft 0.5s;
}

@keyframes slideright {
	from {right: -30px;
	opacity: 0
}

to {
	left: 0;
	opacity: 1
}

}
.sliding-right {
	position: relative;
	animation: slideright 0.5s;
}

@keyframes fading {
	from {opacity: 0
}

to {
	opacity: 1
}

}
.fading {
	animation: fading 0.4s;
}

/*position*/
.bottom-left {
	bottom: 0;
	left: 0;
}

.bottom-right {
	bottom: 0;
	right: 0;
}

.bottom-center {
	bottom: 0;
	left: 0;
}

.top-left {
	position: absolute;
	top: 0;
	left: 0;
}

.top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.top-center {
	position: absolute;
	top: 0;
	left: 0;
}

.display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*font style*/
.color-white {
	color: white;
	text-rendering: optimizeSpeed;
}

a.color-white:hover {
	color: black;
}

.color-red {
	color: red;
	text-rendering: optimizeSpeed;
}

a.color-red:hover {
	color: black;
}

a {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: oblique;
}

.line-through {
	text-decoration: line-through;
}

.jumbo {
	font-size: 64px;
}

/*size*/
.modal {
	z-index: 3;
	display: none;
}

.quarter-width {
	width: 25%;
}

.half-width {
	max-width: 50%;
	width: 50%;
}

.third-width {
	max-width: 75%;
	width: 75%;
}

.full-width {
	max-width: 100%;
	width: 100%;
}

.quarter-height {
	height: 25%;
}

.half-height {
	height: 50%;
}

.full-height {
	height: 100%;
	max-height: 100%;
}

.input {
	padding: 3%;
	border: none;
	border-bottom: 1px solid #cac;
	width: 94.00%
}

.inline {
	display: inline;
}

.inline-grid {
	display: inline-grid;
}

/*element style*/
.background-white {
	background-color: white;
}

.background-grey {
	background-color: grey;
}

.background-red {
	background-color: #D11;
}

.background-yellow {
	background-color: #FC4;
}

.background-green {
	background-color: #0A0;
}

.background-black {
	background-color: black;
}

.background-blue {
	background-color: #000033;
}

/*text style*/
.bold {
	font-weight: bold;
}

.blue {
	color: #000033;
}

.white {
	color: white;
}

.red {
	color: #DF3111;
}

.green {
	color: #127F12;
}

.black {
	color: black;
}

.grey {
	color: grey;
}

a.blue:hover {	
	color: #FFF;
}

a.white:hover {
	color: black;
}

a.red:hover {
	color: #FFF1;
}

a.green:hover {
	color: #FFF;
}

a.black:hover {
	color: white;
}

a.grey:hover {
	color: white;
}

button {
	border: none;
	background: white;
	border-radius: 3px;
	padding: 5px;
}

button:hover {
	background-color: #DDD;
}

/*opacity*/
.opacity-75 {
	opacity: 0.75;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-33 {
	opacity: 0.33;
}

.opacity-25 {
	opacity: 0.25;
}

.shadow-full {
	box-shadow: 100% 10px;
}

label {
	padding: 10px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

div{
	display: block;
	padding: 10px;
	margin: 10px;
}

.background {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-color: grey;
	width: 100%;
}

.menu {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.center {
	padding: 0;
	margin: 0;
	text-align: center;
}

.left {
	padding: 0;
	margin: 0;
	text-align: left;
}

.right {
	padding: 0;
	margin: 0;
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.fix-position {
	position: fixed;
}

.toggler-menu {
	display: none;
}

@media screen and (min-width: 720px) {
	[class*="col-"] {
	    float: left;
	    padding: 15px;
	}

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.menu {
		padding: 10px;
		display: block;
	}

	.menu ul li {
		display: inline-block;
		border-bottom-right-radius: 10px;
		border: 2px solid;
	}

	.menu ul li:hover {
		border-color: white;
	}
	
	.menu ul li a {
		padding: 20px;
		text-decoration: none;
		display: block;
	}
}

@media screen and (max-width: 720px) {

	.toggler-menu {
		display: inline-table;
		cursor: pointer;
		padding: 10px;
		margin: 0px;
		background-color: rgb(25,25,25);
	}

	.toggler-menu div {
		height: 1px; 
		width: 25px; 
		margin: 5px; 
		padding: 0; 
		background-color: rgb(255,255,255);
	}

	.menu {
		text-align: center;
		display: none;
		transition: 0.5s;
	}

	.menu ul li {
		position: relative;
		border: 1px solid grey;
		background-color: black;
		opacity: 0.7;
	}

	.menu ul li:hover {
		background-color: grey;
	}

	.menu ul li a{
		font-size: 10pt;
		margin: 0;
		color: white;
		box-sizing: border-box;
	}

	.active {
		display: block;
	}
}